h1 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
    background-color: darkblue;
    color: white;
    text-align: center;
}

h1 > span {
    color: blueviolet;
}
  
.lists {
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
}
  
  
  